@model LOGHouseSystem.ViewModels.PasswordRedefinitionViewModel

@{
    ViewBag.Title = "Alterar Senha";
    Layout = "~/Views/Shared/_LayoutClear.cshtml";
}

<style>
    body {
        background-color: #4E73DF
    }
</style>

@*<h3 class="text-center mb-4">Alterar senha do usuário</h3>

<form asp-action="PasswordRedefinition" asp-controller="User" method="post">

    <div class="form-row d-flex align-items-center flex-column ">
        <div class="form-group mb-2 col-md-4">
            <label for="novaSenha">Nova Senha</label>
            <input type="password" asp-for="Password" class="form-control align-self-center" placeholder="Digite a nova senha do usuário">
            @Html.ValidationMessageFor(x => x.Password)
        </div>

        <div class="form-group mb-2 col-md-4">
            <label for="confirmarSenha">Confirmar nova senha</label>
            <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Confirme a nova senha do usuário">
            @Html.ValidationMessageFor(x => x.ConfirmPassword)
        </div>
    </div>


    <div class="d-grid d-flex gap-2 justify-content-md-center mt-2">
        <button onclick="checkInputs" type="submit" class="btn btn-primary mr-2">Atualizar</button>
        <a class="btn btn-secondary" href="@Url.Action("ChangePassword", "User")" role="button">Voltar</a>
    </div>

</form>*@

<form asp-controller="User" asp-action="PasswordRedefinition" style="margin-top: 8%; " method="post" id="CreateForm" >
    <div class="row  d-flex justify-content-center">
        <div class="col-md-4">
            <div class="card" >
                <div class="card-body " style=" height: 560px">

                    <div class="text-center">
                        <img class="" src="~/img/logoazul.png" style="width:20%" />
                        <h3 class="font-weight-bold">LOG House System</h3>
                        <h5>Redefinição de senha</h5>
                    </div>

                    <div class="form-row mt-3 ">

                        <div class="form-group mb-2 col-md-12">
                            <label for="novaSenha">Nova Senha</label>
                            <input type="password" asp-for="Password" class="form-control align-self-center" placeholder="Digite a nova senha do usuário">
                            @Html.ValidationMessageFor(x => x.Password)
                        </div>



                        <div class="form-group mb-2 col-md-12 mt-3">
                            <label for="confirmarSenha">Confirmar nova senha</label>
                            <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Confirme a nova senha do usuário">
                            @Html.ValidationMessageFor(x => x.ConfirmPassword)
                        </div>


                    </div>

                    <div class="form-group text-center mt-5">
                           <div class="col-md-12">
                            <button onclick="checkInputs" type="submit" class="btn btn-primary btn-block">Atualizar</button>
                           </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/lib/jQuery-Mask-Plugin-master/src/jquery.mask.js"></script>

    <script>

        $(document).ready(function () {

            $("#loadingSpinner").hide();
        });

        $("#CreateForm").submit(() => {
            $("#submitButton").hide();
            $("#loadingSpinner").show();
        })


    </script>
}