@model IEnumerable<LOGHouseSystem.Models.User>
@{
    ViewBag.Title = "Usuários";
}

<link href="~/vendor/datatables/datatables.bootstrap4.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/site.css">

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-cart icon-gradient bg-happy-itmeo">
                </i>
            </div>
            <div>
                <h3 class="text-center mb-3">Usuários</h3>
            </div>
        </div>
    </div>
</div> 

<div class="d-grid gap-2 d-flex justify-content-md-start mx-3 mb-4 mt-2">
    <a class="btn btn-primary font-size-md" href="@Url.Action("Create", "User")" role="button" ><span class="fa-plus font-weight-bold font-size-lg mr-2"></span>Novo 
        Usuário</a>
</div>


<div class="col-lg-12 col-md-12 col-xs-12">
    <div class="main-card mb-3 card">
        <div class="card-body">
            <table id="datatable" class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>                                                                                                                                                       
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Username)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.PermissionLevel)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </th>


                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Username)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>

                                <td>
                                    @(item.PermissionLevel.GetDescription())
                                </td>

                                <td>
                                    @if (item.IsActive == 0)
                                    {
                                        <a  class="badge badge-danger" title="Usuário inativo">
                                            <i  class="fas fa-solid fa-toggle-off" style="color:white;"></i>
                                            Inativo
                                        </a>
                                    }
                                    else
                                    {
                                        <a  class="badge badge-success" title="Usuário ativo">
                                            <i  class="fas fa-solid fa-toggle-on" style="color:white;"></i>
                                            Ativo
                                        </a>
                                    }
                                </td>

                                <td>
                                    <a class="btn btn-primary font-size-md d-flex justify-content-center" role="button" asp-route-id="@item.Id" asp-controller="User" asp-action="Edit"><span class="pe-7s-plus font-weight-bold font-size-lg mr-2"></span>Editar</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts {

    <script src="~/vendor/datatables/jquery.datatables.min.js"></script>
    <script src="~/vendor/datatables/datatables.bootstrap4.min.js"></script>
        
    <script>
        $(document).ready(function () {
            $('#datatable').DataTable({
                "language": {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando _START_ de _END_ de um total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "Mostrar _MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                }
            });
        });


    </script>
}

