@model LOGHouseSystem.ViewModels.ClientAndYourContractViewModel

@{
    ViewBag.Title = "Atualizar Cliente";
}



<form asp-controller="Client" asp-action="Update" method="post" id="UpdateForm">
    <div class="card">
        <div class="card-body">
            <div class="form-row">
                <input class="visually-hidden" asp-for="ClientId"/>
                <legend class="text-center">Dados do Cliente</legend>
                <div class="form-group col-md-4">
                    <label for="SocialReason">@Html.DisplayNameFor(model => model.SocialReason)</label>
                    <input asp-for="SocialReason" type="text" minlength="8" class="form-control" id="SocialReason">
                    @Html.ValidationMessageFor(x => x.SocialReason)
                </div>
                <div class="form-group col-md-4">
                    <label for="cnpj">@Html.DisplayNameFor(model => model.Cnpj)</label>
                    <input asp-for="Cnpj" type="text" class="form-control" minlength="14" maxlength="14" id="cnpj">
                    @Html.ValidationMessageFor(x => x.Cnpj)
                    @if (ViewBag != null)
                    {
                        <div>
                            <p style="padding: 3px;border-radius: 20px;text-transform: uppercase;font-size: 11px;color: red;font-weight: bold">@ViewBag.CnpjError@Html.Raw(@TempData["ThanksMessage"])</p>
                        </div>
                    }
                </div>
                <div class="form-group col-md-4">
                    <label for="email">@Html.DisplayNameFor(model => model.Email)</label>
                    <input asp-for="Email" type="email" maxlength="35" class="form-control" id="email">
                    @Html.ValidationMessageFor(x => x.Email)
                    @if (ViewBag != null)
                    {
                        <div>
                            <p style="padding: 3px;border-radius: 20px;text-transform: uppercase;font-size: 11px;color: red;font-weight: bold">@ViewBag.EmailError@Html.Raw(@TempData["ThanksMessage"])</p>
                        </div>
                    }
                </div>
            </div>
            <br />
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="adress">@Html.DisplayNameFor(model => model.Adress)</label>
                    <input asp-for="Adress" type="text" minlenght="15" maxlength="60" class="form-control" id="adress">
                    @Html.ValidationMessageFor(x => x.Adress)
                </div>
                <div class="form-group col-md-3">
                    <label for="phone">@Html.DisplayNameFor(model => model.Phone)</label>
                    <input asp-for="Phone" type="tel" minlength="10" class="form-control" id="phone">
                    @Html.ValidationMessageFor(x => x.Phone)
                </div>
                <div class="form-group col-md-3">
                    <label for="phone">@Html.DisplayNameFor(model => model.StateRegistration)</label>
                    <input asp-for="StateRegistration" type="text" class="form-control" id="stateRegistration">
                </div>
            </div>            
        </div>
    </div>

    <br />

    <div class="card">
        <div class="card-body">
            <div class="form-row">
                <legend class="text-center">Dados do Contrato</legend>
                <div class="form-group col-md-4">
                    <label for="storage">@Html.DisplayNameFor(model => model.Storage)</label>
                    <input asp-for="Storage" type="text" class="form-control" id="storage">
                    @Html.ValidationMessageFor(x => x.Storage)
                </div>
                <div class="form-group col-md-4">
                    <label for="surplusStorage">@Html.DisplayNameFor(model => model.SurplusStorage)</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">R$</span>
                        </div>
                        <input asp-for="SurplusStorage" type="text" class="form-control" id="surplusStorage">
                    </div>
                    @Html.ValidationMessageFor(x => x.SurplusStorage)
                </div>
                <div class="form-group col-md-4">
                    <label for="storageValue">@Html.DisplayNameFor(model => model.StorageValue)</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">R$</span>
                        </div>
                        <input asp-for="StorageValue" type="text" class="form-control" id="storageValue">

                    </div>
                    @Html.ValidationMessageFor(x => x.StorageValue)
                    <br />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="requests">@Html.DisplayNameFor(model => model.Requests)</label>
                    <input asp-for="Requests" type="text" class="form-control" id="requests">
                    @Html.ValidationMessageFor(x => x.Requests)
                </div>
                <div class="form-group col-md-3">
                    <label for="requestsValue">@Html.DisplayNameFor(model => model.RequestsValue)</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">R$</span>
                        </div>
                        <input asp-for="RequestsValue" type="text" class="form-control" id="requestsValue">
                    </div>
                    @Html.ValidationMessageFor(x => x.RequestsValue)
                </div>
                <div class="form-group col-md-3">
                    <label for="shippingUnits">@Html.DisplayNameFor(model => model.ShippingUnits)</label>
                    <input asp-for="ShippingUnits" type="text" class="form-control" id="shippingUnits">
                    @Html.ValidationMessageFor(x => x.ShippingUnits)
                </div>
                <div class="form-group col-md-3">
                    <label for="contractValue">@Html.DisplayNameFor(model => model.ContractValue)</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">R$</span>
                        </div>
                        <input asp-for="ContractValue" type="text" class="form-control" id="contractValue">
                    </div>
                    @Html.ValidationMessageFor(x => x.ContractValue)
                </div>

                <div class="form-group col-md-6">
                    <label for="contractValue">@Html.DisplayNameFor(model => model.ExcessOrderValue)</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">R$</span>
                        </div>
                        <input asp-for="ExcessOrderValue" type=" text" class="form-control" id="contractValue">
                    </div>
                    @Html.ValidationMessageFor(x => x.ContractValue)
                </div>
                <div class="form-group col-md-6">
                    <label for="contractValue">@Html.DisplayNameFor(model => model.InsurancePercentage)</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">%</span>
                        </div>
                        <input asp-for="InsurancePercentage" type=" text" class="form-control" id="contractValue" >
                    </div>
                    @Html.ValidationMessageFor(x => x.ContractValue)
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row d-flex  justify-content-end">
        <button class="btn btn-light mb-5 col-md-2 mr-3" id="loadingSpinner" type="button">
            <i class="fa-solid fa-spinner fa-spin"></i>
        </button>
        <button class="btn btn-success mb-5 col-md-2 mr-3" id="submitButton" type="submit">Atualizar</button>
        <a class="btn btn-secondary mb-5 col-md-2 mr-2" asp-controller="Client" asp-action="Index" role="button">Voltar</a>
    </div>


</form>

@section Scripts {
    <script src="~/lib/jQuery-Mask-Plugin-master/src/jquery.mask.js"></script>


    <script>

        $(document).ready(function () {
            $('#cnpj').mask('00.000.000/0000-00', { reverse: true });
            $('#phone').mask('(00) 00000-0000');
            $('#contractValue').mask('000.000.000.000.000,00', { reverse: true });
            $('#requestsValue').mask('000.000.000.000.000,00', { reverse: true });
            $('#storageValue').mask('000.000.000.000.000,00', { reverse: true });

            $("#loadingSpinner").hide();
        });

        $("#UpdateForm").submit(() => {
            $("#submitButton").hide();
            $("#loadingSpinner").show();
        })


    </script>
}

