@using LOGHouseSystem.Models
@using LOGHouseSystem.ViewModels.Components;
@model LOGHouseSystem.Infra.Pagination.PaginationBase<TransportationPerson>

@{
    ViewBag.Title = "Lista de Responsáveis";
}

<link href="~/vendor/datatables/datatables.bootstrap4.css" rel="stylesheet" />

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-cart icon-gradient bg-happy-itmeo">
                </i>
            </div>
            <div>
                <h3 class="text-center mb-3">Responsáveis</h3>
            </div>
        </div>
    </div>
</div>

<form asp-controller="TransportationPerson" asp-action="Index" id="searchForm" method="post">
    <input type="hidden" id="hiddenInputToPagination" name="PageNumber" value="@Model.PageNumber" />

    @if (Model?.TotalPages > 1 || Model?.TotalPages > 1)
    {
        @Html.Partial("_PaginationListPager",new PaginationPagerModel{
            Page = Model.PageNumber,
            PageCount = Model.TotalPages,
            InputIdForPage = "hiddenInputToPagination",
            FormToSubmit = "searchForm"
        })
    }
</form>

@*<div class="d-grid gap-2 d-flex justify-content-md-start mx-3 mb-4 mt-2">
    <a class="btn btn-success font-size-md" href="@Url.Action("Create", "Client")" role="button"><span class="fa-plus font-weight-bold font-size-lg mr-2"></span>Novo Cliente</a>
</div>*@

<div class="col-lg-12 col-md-12 col-xs-12">
    <div class="main-card mb-3 card">
        <div class="card-body">
            <table id="datatable" class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Data[0].Id)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Data[0].Name)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Data[0].Cpf)
                        </th>



                        <th>
                            @Html.DisplayNameFor(model => model.Data[0].Rg)
                        </th>
                        <th></th>

                    </tr>
                </thead>

                <tbody>
                    @if (Model.Data != null && Model.Data.Any())
                    {
                        foreach (var item in Model.Data)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>


                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Cpf)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Rg)
                                </td>

                                <td class="text-center">
                                    <a class="d-flex justify-content-center" title="Ver mais" asp-route-id="@item.Id" asp-action="Details"><i class=" fa fa-fw fa-eye"></i></a>
                                </td>

                                @*<td>
                                    <a class="btn btn-warning d-flex justify-content-center" role="button" title="Editar" asp-route-id="@item.Id" asp-controller="Client" asp-action="Update">Editar</a>
                                </td>*@

                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts {

    <script src="~/vendor/datatables/jquery.datatables.min.js"></script>
    <script src="~/vendor/datatables/datatables.bootstrap4.min.js"></script>
    <script src="~/lib/jQuery-Mask-Plugin-master/src/jquery.mask.js"></script>

    <script>
        $(document).ready(function () {
            $('#datatable').DataTable({
                "language": {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "",
                    "sInfoEmpty": "Mostrando 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "Mostrar _MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": "",
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                },
                'columnDefs': [
                    {
                        'targets': 0,
                        'checkboxes': {
                            'selectRow': true
                        }
                    },
                ],
                'select': {
                    'style': 'multi'
                },
                paging: false,
                info: false
                })
            });

    </script>
}
